/* Colors */

$white: rgba(255, 255, 255, 1);
$yellow: rgba(249, 200, 25, 1);
$red: rgba(255, 109, 47, 1);
$blue: rgba(47, 180, 255, 1);
$green: rgba(47, 181, 0, 1);
$violet: rgba(217, 18, 250, 1);
$black: rgba(54, 54, 54, 1);
$gray: rgba(187, 187, 187, 1);

/* Shadow */

$shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.7);

/* Size input */

$maxWidth: 240px;
$height: 32px;

/* Padding */

$padding: 8px;

/* Radius */

$radius: 10px;

/* Fonts */

$fSize: 12px;
$fHeight: 14px;
